h1 {
    color: #5753C6;
}

h2 {
    color: #5753C6;
}

body {
    background-color: #FDFDFF;
    color: #272962;
}

.button {
    border: thick solid #9B9EF0;
    border-radius: 7% / 5%;
    background-color: #F0F1FE;
    padding: 1.5rem 2rem ;
}

.button:hover {
    background-color: #E6E7FF;
}